.product-list-container {
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and ( max-width : 768px ) {

  .product-list {
    gap: 0;
    justify-content: space-around;
  }
}
