.navbar {
  background-color: var(--primary-color);
  color: var(--text-light);
  display: flex;
  font-weight: 700;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-left {
  display: flex;
  font-size: 28px;
  height: 100%;
  line-height: 80px;
}

.nav-item {
  background-color: var(--primary-color);
  color: inherit;
  padding: 0 20px;
  text-decoration: none;
}

.nav-item.active {
  background-color: var(--secondary-color);
  color: var(--text-dark);
}

.navbar-right {
  display: flex;
  font-size: 28px;
  height: 100%;
  line-height: 80px;
}

.username {
  background-color: var(--tertiary-color);
  font-weight: 400;
}

.logout {
  background-color: var(--quaternary-color);
  font-weight: 500;
}

@media screen and ( max-width : 768px ) {

  .navbar {
    height: 60px;
  }

}
