.checkout-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
}

.checkout-heading {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.checkout-info {
  background: #fbfffe;
  border: 1px solid #b1c2be;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 20px;
  width: 100%;
}

.total-price {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px 0;
}

.first {
  border-radius: 5px 0 0 5px;
  margin-left: 794px;
  padding-left: 30px;
}

.second {
  border-radius: 0 5px 5px 0;
  padding-right: 30px;
}

.delivery-container {
  margin-top: 20px;
  width: 1484px;
}
