.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 10px;
  text-align: center;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.input-wrapper input,
button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-register {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #f2f2f2;
  color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

.hidden {
  display: none;
}
