.product-card {
  align-items: center;
  background: white;
  border: 1px solid #b1c2be;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 364px;
}

.product-card-img {
  height: 357px;
  object-fit: cover;
}

.product-card-price {
  align-items: center;
  background-color: #f2fffc8a;
  border-radius: 10px;
  color: var(--text-dark);
  display: flex;
  font-size: 36px;
  font-weight: 700;
  left: 10px;
  padding: 5px;
  position: absolute;
  top: 10px;
}


.product-card-price p {
  margin: 0;
}

.product-card-info {
  align-items: center;
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  width: 100%;
}

.product-card-name {
  color: black;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0 0 10px;
}

.product-card-controls {
  display: flex;
  width: 40%;
}

.product-card-controls button {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-light);
  cursor: pointer;
  font-size: 34px;
}

.product-card-controls input {
  border: 1px solid var(--text-dark);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  width: 100%;
}

.button-add {
  border-radius: 10px 0 0 10px;
}

.button-rm {
  border-radius: 0 010px 10px 0;
}

