body {
  margin: 0;
  background-color: rgb(121, 121, 121);
}

:root{
  --primary-color: #036B52;
  --secondary-color: #2FC18C;
  --tertiary-color: #421981;
  --quaternary-color: #056CF9;
  --text-dark: #001813;
  --text-light: #F2FFFC;
}

main {
  padding: calc(4% + 80px) 10% 4% 10%;
  max-width: 100vw;
  box-sizing: border-box;
}